body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    padding: 20px;
    width: 600px;
    word-wrap: break-word;
    display: grid;
    place-items: center;
}
ol {
    margin-left: -16px;
}

.area {
    width: 100%;
    border: 1px solid grey;
    margin-bottom: 8px;
    position: relative;
}

#print-area {
    display: grid;
    place-items: center;
    padding: 8px;
    width: 100%;
}

#print-container {
    width: 100%;
}

#mappingArea {
    height: 450px;
    border-radius: 16px;
}

#nonImageArea {
    height: 350px;
    border-radius: 16px;
    padding: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#service-url {
    font-size: 12px;
    color: grey;
    text-align: right;
    margin-bottom: 20px;
}

#submit {
    align-items: center;
    margin-bottom: 16px;
    position: relative;
    text-align: center;
}

.draggable {
    width: 40px;
    height: 40px;
}

#nonImageArea .draggable {
    cursor: pointer;
    float: left;
}

#mappingArea .draggable {
    cursor: pointer;
    position: absolute;
    z-index: 10;
}

.axis.horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 1px;
    background-color: black;
    transform: translateX(-50%);
}

.axis.vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 90%;
    background-color: black;
    transform: translateY(-50%);
}

.borderless-input {
    border: none;
    outline: none;
    background-color: transparent;
    line-height: 1.5;
    z-index: 0;
}

/* 入力時のアンダーラインを表示する場合 */
.borderless-input:focus {
    border-bottom: 2px solid black;
}

.borderless-input.title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 4px;
    width: 100%;
}

.borderless-input.top, .borderless-input.bottom {
    position: absolute;
    width: 45%;
    left: 52%;
    text-align: left;
}

.borderless-input.top {
    top: 10px;
}

.borderless-input.bottom {
    bottom: 10px;
}

.borderless-input.left, .borderless-input.right {
    position: absolute;
    top: 50%;
    display: flex;
    word-wrap: break-word;
    width:40%;
    justify-content: center;
    align-items: center;
    transform: translateY(8px);
}

.borderless-input.left {
    left: 10px;
}

.borderless-input.right {
    right: 10px;
    text-align: right;
}

footer p {
    font-size: 12px;
}

@media screen and (max-width: 480px) {
    /* スマホサイズのときのスタイル */
    .container{
        width: 100%;
    }
    #mappingArea {
        height: 300px;
    }
    #nonImageArea {
        height: 200px;
    }
    .draggable {
        width: 24px;
        height: 24px;
    }
    #description > p,li {
        font-size: 12px;
    }

}